<?xml version="1.0"?>

<!-- Launches a box with tags on each side. 
       -->

<launch>
  <arg name="tag_num" default="0"/>
  <arg name="ns"      default="tag_world"/>
  
  <!-- Load the tag box as a parameter. -->
	<param name="$(arg ns)/robot_description"
	    command="$(find xacro)/xacro '$(find tag_world)/models/tag_box3.urdf.xacro' 
	    'tag_num:=$(arg tag_num)' " />
	
	<!-- Spawn it. -->
  <node name="spawn_tag_model" pkg="gazebo_ros" type="spawn_model" ns="$(arg ns)"
		args="-urdf -param /$(arg ns)/robot_description -model $(arg ns)"/>
		
  <!-- Publish the robot joints. -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" ns="$(arg ns)">
    <param name="tf_prefix"         value="$(arg ns)"/>
    <param name="robot_description" value="/$(arg ns)/robot_description"/>
</node>
</launch>
