<?xml version="1.0"?>

<!-- Launches a box with tags on each side. 
       roslaunch tag_world tag_world.launch
       -->

<launch>
  <arg name="gui"     default="true"/>
  <arg name="tag_num" default="0"/>
  <arg name="ns"      default="tag_world"/>
  
  <!-- Start Gazebo. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused"       value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)"/>
  </include>

  <!-- Spawn the box. -->
  <include file="$(find tag_world)/launch/spawn_box.launch">
    <arg name="ns"      value="$(arg ns)"/>
    <arg name="tag_num" value="$(arg tag_num)"/>
  </include>

</launch>
