<?xml version="1.0"?>

<!-- Launches a box with tags on each side. -->

<launch>
  <arg name="gui"     default="true"/>
  <arg name="tag_num" default="0"/>
  <arg name="ns"      default="tag_world"/>
  
  <!-- Start Gazebo. -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused"       value="true"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui"          value="$(arg gui)"/>
  </include>

  <!-- Load the tag box as a parameter. -->
	<param name="$(arg ns)/tag$(arg tag_num)"
	    command="$(find xacro)/xacro '$(find tag_world)/models/tag_box.urdf.xacro' 
	    'tag_world:=$(find tag_world)' 'tag_num:=$(arg tag_num)' " />
	
	<!-- Spawn it. -->
  <node name="spawn_tag_model" pkg="gazebo_ros" type="spawn_model" ns="$(arg ns)"
		args="-urdf -param /$(arg ns)/tag$(arg tag_num) -model $(arg ns)"/>
		
</launch>
